html, body{
	padding: 0;
	margin: 0;
}


#nav {
	min-width: 960px;
	background: #000;
}

#nav-content{
	margin: 0 auto;
	width: 960px;
	
}

.clear{
	clear: both;
}

#logo{
	float: left;
}

#logo a {
	line-height: 50px;
	padding-left: 30px;
	text-decoration: none;
	font-size: 24px;
	font-weight: 650;
	color: #8249CC;

}




#nav-content .nav-item{
	float: left;
	list-style: none;
	border-right: 1px solid #696969;
}


#nav-items {
	float: left;
	margin: 0;
}


#nav-items .nav-item{
	height: 50px;
	line-height: 50px;
}

.nav-item a{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	text-decoration: none;
	font-weight: 650;
	color: #8249CC;
	display:block;
}


#nav-item-r{
	float: right;
	margin: 0;
}


#nav-content .nav-item:last-child{
	border: none;
} /*要把范围指出来，末子*/


#main a:hover{
	height: 40px;
	line-height: 40px;
	padding-top: 5px;
	border-bottom: 5px solid #EFEFEF;
}



/*post start*/
#post{
	width: 100%;
	height: 450px;
	background: url(../images/0.png) center center;
}

#post .post-link{
	display: block;
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

#post .post-content{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	color: #EFEFEF;
}

#post .post-content h1{
	margin-top: 198px;
	font: 42px bold;
}
