html, body{
	padding: 0;
	margin: 0;
}



/*header start*/
header {
	padding: 5px 15px 0 15px;
	margin:0;
	background: #999;
	color: white;
}


header h1{
	display: inline;
	margin: 20px 0 0 0;


}

nav ul{
	display: inline;
	margin: 0;
}

nav ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	margin:0;
}

nav ul li a{
	color: white;
}

/*header end*/


/*column start*/
.row{
	clear: both;
}

.col{
	float: left;
	width:31%;
	color: white;
	border-radius: 5px;
	background: #888;
	margin: .5%;
	padding: 10px .5%;
}

footer{

}
